* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left, #F6DAE4, #D4F0F7);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h2, .latest_questions_title {
    color: #E696B2;
    font-family: 'Bungee', cursive;
    font-size: 2em;
    text-shadow: 2px 2px 2px #B6A9AD;
}

.latest_questions_title {
    padding: 10px;
}

.header {
    padding: 20px;
    font-size: 2em;
    font-family: 'Bungee', cursive;
    text-shadow: 3px 3px 2px #B6A9AD;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    right: 0;
    margin-top: 0;
    align-items: center;
    width: 100vw;
    padding: 10px;
    background: linear-gradient(to left, #F7DDE6, #D8F1F8);
}

.nav-items {
    padding: 0 20px;
}

.login-registration-container > a, .login-registration-container > a:hover, .nav-items > a, .nav-items > a:hover {
    padding: 8px;
    background-color: #D55280;
    color: white;
    border-radius: 15px;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-registration-container {
    padding: 10px;
}

.main-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-link {
    place-self: center;
}

#question-input {
    padding: 3px;
    font-size: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

#question-input:hover {
    padding: 5px;
    transition: 0.1s ease-in-out;
    border-radius: 20px;
}

.search-btn {
    padding: 3px;
}

thead {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
}

td {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.44)
}

th {
    padding: 10px;
}

a, a:hover {
    text-decoration: none;
    color: #D55280;
}

img {
    max-width: 300px;
}

button, .goback {
    padding: 20px;
    background-color: #D55280;
    font-family: 'Bungee', cursive;
    color: #F6DAE4;
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s;
    text-shadow: 2px 2px 2px #616161;
}

button:hover{
    background-color: #CC3167;
    transition: 0.3s;
}

footer {
    display: flex;
    height: 10vh;
    background: #C9D6FF;
    background: linear-gradient(to left, #F7DDE6, #D8F1F8);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

table {
    width: 80vw;
    text-align: center;
    border: 1px solid #D55280;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 20px;
}

caption {
    text-align: center;
    background-color: white;
    border-radius: 20px 20px 0 0;
    font-weight: 800;
    text-transform: uppercase;

}

tbody {
        border-radius: 0 0 20px 20px;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

td {
    background-color: transparent;
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, #F6DAE4, #D4F0F7);
}

#main-title {
    font-size: 5em;
    font-family: 'Bungee', cursive;
    color: #D55280;
    margin: 0;
    padding: 0;
    text-shadow: 4px 4px 2px #B6A9AD;
}

#browse-question-btn, #theme-button {
    margin-top: 30px;
    font-size: 1.2em;
    border: none;
    padding: 20px;
}

#browse-question-btn:hover, #theme-button:hover {
    background-color: #D55280;
    font-size: 1.5em;
}

#questions-content, #answers-content {
    height: max-content;
    place-self: center;
}

.goback {
    padding: 0;
}


.table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-family: 'Exo', sans-serif;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
    align-items: center;
    width: 80vw;
    border: 1px solid #D55280;
    border-radius: 1em;
    height: 100%;
    place-self: center;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.44);
}

.table-content {
    display: grid;
    grid-template-columns: 5fr;
    gap: 15px;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.44);
}

.table-headers {
    display: grid;
    column-gap: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
}

.question-headers {
    justify-content: left !important;
    min-width: 50px;
}

.answer-headers {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
}

.question-row {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.3fr 0.3fr;
    column-gap: 15px;
    align-items: center;
    min-height: 75px;
    max-height: 100px;
}

.searched-question-row {
    display: grid;
    grid-template-columns: 0.5fr 0.25fr 0.25fr 1fr 2fr 0.5fr;
    column-gap: 15px;
    align-items: center;
    min-height: 75px;
    max-height: 100px;
}

.answer-row {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    min-height: 75px;
    max-height: 100px;
}

.short {
    text-align: center;
    max-height: 100px;
    overflow: auto;
    min-width: 90px;
}

.message {
    grid-column: span 2;
    overflow: auto;
}

.answer-message {
    grid-column: span 2;
    overflow: auto;
}

.answer-message-header {
    grid-column: span 2;
}

.header-message {
    grid-column: span 2;
}

.question {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.edit-image {
    width: 2.5em;
    padding: 10px;
}

.comment-image {
    width: 1.8em;
}

.animate__zoomIn {
    --animate-delay: 2s;
}

.edit_answer_page {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-transform: uppercase;
}

.question_form, .answer_form, .comment_form, .tag-selectors, .profile-form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 100vh;
    width: 80vw;
    font-family: 'Exo', sans-serif;
}

.profile-form {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag-selectors {
    width: 100vw;
    background-color: rgba(182, 188, 197, 0.1);
    height: 100%;
    text-transform: uppercase;
}

.tag-list {
    font-family: 'Exo', sans-serif;
}

.add_edit_comment_form {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-transform: uppercase;
}

.question_form > input, label, textarea, button {
    padding: 10px;
    font-size: 1.2em;
}

input {
    padding: 5px;
    font-size: 14px;
}

.question_form > label {
    font-weight: 800;
    text-transform: uppercase;
}

.question_form > button, .delete-button {
    padding: 20px;
}

.any-button {
    padding: 10px;
}

.theme-button {
    width: 150px;
}

.page-title {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 2.5em;
    color: #D55280;
}

.add_edit_question_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.field-with-sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-with-sort > form {
    padding: 0 5px 5px;
}

.answer-image {
    width: 100px;
}

.question {
    font-family: 'Exo', sans-serif;
}

.previous-button, .previous-button:hover {
    width: 10px;
}

.sort-button,
.sort-button:hover,
.plus-button,
.plus-button:hover,
.previous-button,
.previous-button:hover,
.trash-button,
.trash-button:hover,
.edit-button,
.edit-button:hover,
.comment-button,
.comment-button:hover,
.search-btn,
.search-btn:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.sort-button > img {
    width: 10px;
    height: 10px;
}

.plus-button > img, .previous-button > img, .search-btn > img {
    width: 30px;
}

.trash-button > img {
    width: 1.2em;
    text-align: center;
}

.add-new, .previous-button, .previous-button:hover {
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    padding: 10px;
}

.previous-button, .previous-button:hover {
    margin-left: 15px;
    width: 50px;
    border-radius: 90px;
}

.tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, max-content));
    max-width: 68vw;
    gap: 10px;
    margin-left: 30vh;
}

.tag-element {
    max-width: max-content;
    font-weight: bold;
    color: black;
}

#tag-link {
    grid-column: -1;
    margin-left: 85%;
}

#delete-tag, #delete-tag:hover {
    display: inline;
    all: revert;
    cursor: pointer;
    color: red;
}

.tag-selectors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
    position: center;
    width: 100vw;
}

.thugs {
    max-width: max-content;
    justify-self: center;
}

.child1 {
    grid-column-start: 2;
}

.child2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.tag-list {
    font-size: 30px;
}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    flex-wrap: wrap;
}

#sure {
    font-size: 30px;
    font-weight: bold;
}

.answer-buttons {
    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: center;
}

.comment-section {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.3fr 0.3fr;
    grid-template-rows: 25px;
    min-height: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #e1e1ef;
    font-size: 0.8em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.answer-comment-section {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 0.3fr 0.3fr 0.5fr;
    grid-template-rows: 25px;
    min-height: 30px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #e1e1ef;
    font-size: 0.8em;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.comment-message {
    grid-column: span 5;
    text-align: start;
    margin-left: 50px;
}

.header-width {
    max-width: min-content;
}

.profile-stats {
    display: flex;
    position: relative;
    align-items: center;
    left: 10%;
}

.stats {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.users_row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 15px;
    align-items: center;
    min-height: 75px;
    max-height: 100px;
}

.little-image {
    max-height: border-box;
}

.form-floating {
    position: relative;
}

.form-signin, .form-registration {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.switch {
  position: absolute;
    left: 0;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../static/images/istockphoto-1132646272-170667a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: deeppink;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-signin > button, .form-registration > button {
    margin-left: 0;
}

.form-control {
    border-radius: 20px;
}

.pop {
    color: black;
}

#increase-font-button, #decrease-font-button {
    width: 20%;
}
