{% extends 'layout.html' %}

{% block title %}
    Add tag
{% endblock %}

{% block body %}
    {% include "header.html" %}
    <form action="/question/{{ question_id }}"><button type="submit" class="previous-button"><img src="/static/icons/previous.png" alt="previous-button"></button></form>
        <section class="tag-selectors">
            <section class="thugs child1">
                <form action="{{ url_for('add_tag_to_question', question_id=question_id) }}" method="POST">
                    <select class="tag-list" name="tag">
                        {% for tag in tags %}
                            {% if loop.index < 4 %}
                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Select</button>
                </form>
            </section>

            <section class="thugs child2">
                <form action="{{ url_for('add_tag_to_question', question_id=question_id) }}" method="POST">
                    <label for="add-tag">Write your own tag</label>
                    <input type="text" name="tag" id="add-tag">
                    <button type="submit">Submit</button>
                </form>
            </section>
        </section>
{% endblock %}