{% extends 'layout.html' %}

{% block title %}
    Confirm deletion
{% endblock %}

{% block body %}
    <div class="confirmation">
    <h3 id="sure">Are you sure?</h3>
    </div>
    <div class="answer-buttons">
        <div class="yes">
        <form action="/comment/{{ comment_id }}/delete" method="POST">
                                <button type="submit" name="button" value="yes">YES</button></form></div>
        <div class="no">
        <form action="/comment/{{ comment_id }}/delete" method="POST">
                                <button type="submit" name="button" value="no">NO</button></form></div>
    </div>
{% endblock %}
