{% extends "layout.html" %}
{% block title %}Ask questions about Flask{% endblock %}
{% block body %}

    <section id="content">
        <h1 id="main-title">Welcome to AskMate</h1>
        <h2 id="subtitle" class="animate__animated animate__zoomIn">An innovative way of asking.</h2>
        <div class="main-button-group">
            <form action="/list">
                <button id="browse-question-btn" type="submit">Browse Questions</button>
            </form>
            <form action="/tags">
                <button id='theme-button' type="submit">Browse Tags</button>
            </form>
        </div>
    </section>

    <section class="table" id="latest_questions">
        <h3 class="latest_questions_title">Latest five questions:</h3>
        <table>
            <tbody>
            {% for dict in question_data %}
                <tr>
                    {% for key, value in dict.items() %}
                        {% if loop.last %}
                        {% elif key == "title" %}
                            <td><a class="nem" href="/question/{{ dict["id"] }}">{{ value }}</a></td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% include "footer.html" %}
{% endblock %}
