{% extends "layout.html" %}

{% block title %}Let's answer{% endblock %}

{% block body %}

    <form action="/question/{{ question_id}}"><button type="submit" class="previous-button"><img src="/static/icons/previous.png" alt="previous-button"></button></form>

    <h1 class="page-title">Tell us what do you think about this answer!</h1>
    <section class="add_edit_question_form">
        <form action="/answer/{{ answer_id }}/new-comment" method="POST" enctype="multipart/form-data" class="question_form">
            <label for="question_content">Your comment</label>
            <textarea name="message" id="question_content" cols="50" rows="5" required></textarea><br>
            <button type="submit">Submit comment</button>
        </form>
    </section>
{% include "footer.html" %}
{% endblock %}
