{% extends 'layout.html' %}
{% block title %}Registration Page{% endblock %}

{% block body %}
    <br>
    <form action="/registration" method="POST" class="form-registration">
        <h1 class="page-title">Sign Up</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <a href="{{ url_for("login_user") }}">Already have a profile? Sign in</a>
        <button type="submit">Register</button>
    </form>
{% endblock %}
